<footer class="footer">
  <a href="{{ site.github.url }}/feed.xml" class="menu-link" target="_blank">
		<img src="{{ site.github.url }}/assets/icons8-rss-64.png" class="rss" />
	</a>
  <a href="{{ site.github.url }}/nyhetsbrev" class="menu-link">abonner på nyhetsbrevet</a>
  <div class="footer-description" style="line-height: 1.5em;">
    <a target="_blank" href="https://icons8.com/icon/11741/camera">Camera</a> favicon and <a target="_blank" href="https://icons8.com/icon/nHnYCb91vBB1/rss">RSS</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <br>
    <a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} av {{ site.author }}</a>
  </div>
</footer>
