<footer class="footer">
  <a href="{{ feed.xml }}" class="menu-link" target="_blank"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
  <a href="https://09ecf35f.sibforms.com/serve/MUIFABnANuiA5mOkAVSSetSSgID2MLREYWY7Mc5r2ljoeQXOv3al1UKFgN9Ip03SCqSGdkHMQUMxM6N6PbKs36JZJzBWj0R6cJZ_wyKxT4UfGA2CDkroLBwBm4-OudBuP4BZOE8lJ5dilYJmi52KVyDhxhXq86gS8pvBGvVb05m1UHJH8lHsGDVlm1SHbt2jLzy5mJEpdfBx3pqK" class="menu-link" target="_blank">join the newsletter</a>
  <div class="footer-description"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div>
</footer>
