<header class="site-header">
  <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>
  <nav class="menu-list">
      <a href="{{ site.github.url }}/nyhetsbrev" class="menu-link">Nyhetsbrev</a>
      <a href="{{ site.github.url }}/om" class="menu-link">Om</a>
  </nav>
  <div class="dropdown">
    <button class="dropbtn" onclick="menuToggle()">
			<img src="{{ site.github.url }}/assets/icons8-menu.svg" />
		</button>
    <div class="dropdown-content">
      <a href="{{ site.github.url }}/nyhetsbrev" class="menu-link">Nyhetsbrev</a>
      <a href="{{ site.github.url }}/om" class="menu-link">Om</a>
      <a href="feed.xml" class="menu-link" target="_blank">
				<img src="{{ site.github.url }}/assets/icons8-rss-64.png" class="menu-img" />
			</a>
    </div>
  </div>
  <script>
    function menuToggle() {
      var menu = document.getElementsByClassName('dropdown-content');
      console.log(menu);
      if (menu[0].style.display === "block") {
        menu[0].style.display = "none";
      } else {
        menu[0].style.display = "block";
      }
    }
  </script>
</header>
