<span class="post-date">
  Skrevet
  {{ page.date | date: "%-d" }}.
  {% assign m = page.date | date: "%B" %}
  {%- case m -%}
    {%- when "January" %}januar
    {%- when "February" %}februar
    {%- when "March" %}mars
    {%- when "May" %}mai
    {%- when "June" %}juni
    {%- when "July" %}juli
    {%- when "October" %}oktober
    {%- when "December" %}desember
    {% else %}{{ m | downcase }}{%- endcase -%},
  {{ page.date | date: "%Y" }}
  av
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>
