.post-content {
  width: 768px;
  display: block;
}
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}
@media (max-width: $container-width) {
  .post-content {
    width: 60vw;
    display: block;
  }
  img {
    max-width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .post-content {
    width: 95vw;
    display: block;
  }
  img {
    max-width: 95vw;
  }
}
.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}
img + em {
    font-size: 12px;
    font-style: normal;
}
.featured-image pre {
  padding: 8px 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #edfaff;
  border: 1px solid #B4DCED;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/**
 * Pagination
 */
#prev,
#next {
  position: fixed;
  text-decoration: none;
  background: #edfaff;
  border: 1px solid #B4DCED;
  padding: .5em;
  line-height: 1;
  border-radius: 100px;
  bottom: 2em;
  color: #333;
  @media (max-width: 942px) {
    position: static;
    padding: .8em 1em .7em;
  }
}

#next {
  right: 40px;
  @media (max-width: 942px) {
    float: right;
  }
}

#prev {
  left: 40px;
  @media (max-width: 942px) {
    float: left;
  }
}

#prev:active,
#next:active {
  border-color: #B4DCED;
}

.nav-title {
  display: none;
  @media (max-width: 942px) {
    display: inline;
  }
}

.nav-title-prev {
  margin-left: .5em;
  margin-right: .5em;
}

.nav-title-next {
  margin-right: .5em;
  margin-left: .5em;
}

#prev:hover .nav-title,
#next:hover .nav-title {
  display: inline;
}
