.post-content {
  width: 1080px;
  display: block;
}
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}
.featured-image img {
  align-content: center;
  margin: 5px auto 25px;
  display: block;
  max-width: 1080px;
}
@media (max-width: $container-width) {
  .post-content {
    width: 60vw;
    display: block;
  }
  .featured-image img {
    align-content: center;
    margin: 5px auto 25px;
    display: block;
    max-width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .post-content {
    width: 95vw;
    display: block;
  }
  .featured-image img {
    align-content: center;
    margin: 5px auto 25px;
    display: block;
    max-width: 95vw;
  }
}
.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}
