<!DOCTYPE html>
<html lang="no">
  <head>
  <title>New post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
  <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"
    />
</head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
